/* --- RESETS --- */
* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-bold-extra: 800;
    /* Colors */
    --color-grey-blue: rgb(102, 108, 163);
    --color-dark: rgb(19, 24, 64);
    --color-grey: rgb(131, 134, 154);
    --color-radiant-pink: rgb(247, 71, 128);
    --color-light-ping: rgb(255, 167, 195);
    --color-white: rgb(255, 255, 255);
    /* Gradients */
    --gradient-white-grey: linear-gradient(rgb(255, 255, 255), rgb(240, 241, 255));
    --gradient-orange-pink: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
    --gradient-blue-pink: linear-gradient(rgb(72, 81, 255), rgb(240, 42, 166));
    /* Radius */
    --radius-10: 10px;
    --radius-28: 28px;
    --radius-31: 31px;
    /* Spacing */
    /* --spacing-xs: 1em; */
}

body {
    background: var(--gradient-white-grey);
    font-family: var(--font-primary);
}

main {
    margin: 0 1em;
}

/* --- TYPOGRAPHY --- */
h1 {
    font-weight: var(--font-weight-bold-extra);
    font-size: 2.5rem;
    margin: 0.9em 0;
}

.text--grey {
    color: var(--color-grey);
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.text--medium {
    font-weight: var(--font-weight-medium);
}

.title--white {
    color: var(--color-white);
    font-weight: 800;
    font-size: 1.5em;
}

/* --- NAV & HEADER --- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.header__container {
    margin: 0 1em;
}

/* --- LAYOUT --- */
.main__title-container {
    background: var(--gradient-orange-pink);
    border-radius: var(--radius-10);
    line-height: 1.5;
    padding: 1.9em 2em 1.9em 1.75em;
    margin-bottom: 1em;
}

/* --- LOGOS & IMAGES --- */
.logo-dark {
    width: 89px;
    /* height: 35px; */
}

.hero-img {
    width: 100%;
    height: 100%;
}

/* --- LINKS & BUTTONS --- */
.btn--dark,
.btn--pink-gradient {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1rem;
}

.btn--dark {
    display: block;
    background: var(--color-dark);
    border-radius: var(--radius-28);
    padding: 1em 2em;
}

.btn--pink-gradient {
    background: var(--gradient-orange-pink);
    display: inline-block;
    border-radius: var(--radius-31);
    padding: 1.1em 2.5em;
    margin: 1.5em 0;
}
