/* --- RESETS --- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-bold-extra: 800;
    /* Colors */
    --color-grey-blue: rgb(102, 108, 163);
    --color-dark: rgb(19, 24, 64);
    --color-grey: rgb(131, 134, 154);
    --color-radiant-pink: rgb(247, 71, 128);
    --color-light-ping: rgb(255, 167, 195);
    --color-white: rgb(255, 255, 255);
    /* Gradients */
    --gradient-white-grey: linear-gradient(rgb(255, 255, 255), rgb(240, 241, 255));
    --gradient-orange-pink: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
    --gradient-blue-pink: linear-gradient(rgb(72, 81, 255), rgb(240, 42, 166));
    /* Radius */
    --radius-10: 10px;
    --radius-28: 28px;
    --radius-31: 31px;
}

body {
    background: var(--gradient-white-grey);
    font-family: var(--font-primary);
}

main {
    margin: 0 1em;
}

a {
    text-decoration: none;
}

/* --- TYPOGRAPHY --- */
.title--1 {
    font-weight: var(--font-weight-bold-extra);
    font-size: 2.5rem;
    margin: 0.9em 0;
}

.title--2 {
    font-size: 1.5rem;
}

.title--3 {
    font-size: 1.25rem;
    margin-top: 0.5em;
}

.text--white {
    color: var(--color-white);
}

.text--dark {
    color: var(--color-dark);
}

.text--grey {
    color: var(--color-grey);
    font-size: 1rem;
    line-height: 1.8;
}

.text--pink {
    color: var(--color-radiant-pink);
}

.text--medium {
    font-weight: var(--font-weight-medium);
}

.text--bold {
    font-weight: var(--font-weight-bold);
}

.text--extra-bold {
    font-weight: var(--font-weight-bold-extra);;
}

/* --- NAV & HEADER --- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.header-container {
    margin: 0 1em;
}

/* --- LAYOUT --- */
.main-content {
    margin-bottom: 4.5em;
}

.card {
    background-color: var(--color-white);
    border-radius: var(--radius-10);
    margin-top: 3em;
    padding: 3.5em 2em 2.5em 2em;
    position: relative;
}

.card--title {
    background: var(--gradient-orange-pink);
    border-radius: var(--radius-10);
    line-height: 1.5;
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

.card__text {
    padding: 0.5em 0 1.5em 0;
}

/* --- LOGOS & IMAGES --- */
.logo-dark,
.logo-light {
    width: 89px;
}

.hero-img--mobile {
    width: 100%;
}

.hero-img--tablet,
.hero-img--desktop {
    display: none;
}

.icon {
    position: absolute;
    top: -25px;
}

/* --- LINKS & BUTTONS --- */
.btn--pink-gradient,
.btn--blue-gradient {
    display: inline-block;
    border-radius: var(--radius-31);
    padding: 1.1em 2.5em;
    margin: 0;
}

.btn--dark {
    display: block;
    background: var(--color-dark);
    border-radius: var(--radius-28);
    padding: 1em 2em;
}

.btn--pink-gradient {
    background: var(--gradient-orange-pink);
}

.btn--blue-gradient {
    background: var(--gradient-blue-pink);
}

.card__link {
    font-size: 1.125em;
    position: absolute;
    bottom: 35px;
}

/* --- FOOTER --- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark);
    padding: 1.25em 1em;
}

@media (min-width: 768px) {
    .logo-dark,
    .logo-light {
        width: 110px;
    }

    header {
        padding: 1.5em 2em;
        margin-bottom: 1em;
    }

    .header-container {
        display: flex;
        position: relative;
    }

    .text--grey {
        font-size: 1.125rem;
    }

    .btn--pink-gradient {
        margin-top: 0.5em;
    }

    .btn--blue-gradient {
        margin: 1em 0;
    }

    .hero-img--mobile,
    .hero-img--desktop {
        display: none;
    }

    .hero-img--tablet {
        width: 640px;
        display: block;
        position: absolute;
        right: -310px;
        top: -160px;
    }

    .header-container__text {
        max-width: 60%;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 1em;
    }

    .card--title {
        margin-bottom: 0;
    }

    .card h2 {
        margin-top: 1.4em;
        font-size: 1.75rem;
    }

    .card {
        flex: 1 340px;
        padding-top: 2em;
    }

    .card__text {
        padding-top: 0;
    }

    .footer {
        padding: 0.5em 2.5em;
    }
}

@media (min-width: 1024px) {
    .nav {
        margin: 0 8em;
    }

    .header-container {
        margin: 0 8em 5em 8em;
    }

    .header-container__text {
        max-width: 50%;
    }

    .hero-img-container {
        max-width: 50%;
    }
    
    .footer {
        padding: 0.5em 8em;
    }

    main {
        margin-top: 4em;
    }

    .main-content {
        gap: 4.5em;
        margin: 0 3em 8em 3em;
    }

    .title--1 {
        font-size: 3.5rem;
        margin-top: 3em;
        line-height: 1.5;
    }

    .title--2 {
        font-size: 2rem;
    }

    .title--3 {
        font-size: 1.5rem;
    }

    .text--medium {
        font-size: 1.35rem;
        margin-bottom: 1.5em;
    }

    .btn--dark,
    .btn--pink-gradient,
    .btn--blue-gradient {
        font-size: 1.1rem;
    }

    .btn--dark {
        margin-right: 0;
        position: relative;
        z-index: 1;
    }

    .btn--blue-gradient {
        margin-top: 1.2em;
    }

    .btn--dark:hover,
    .btn--dark:active {
        background: var(--color-grey-blue);
    }

    .btn--pink-gradient:hover,
    .btn--pink-gradient:active,
    .btn--blue-gradient:hover,
    .btn--blue-gradient:active {
        opacity: 0.6;
    }

    .hero-img--mobile,
    .hero-img--tablet {
        display: none;
    }

    .hero-img--desktop {
        width: 90%;
        max-width: 950px;
        display: block;
        position: absolute;
        right: -420px;
        top: -200px;
        z-index: 0;
    }

    .card {
        max-width: 400px;
    }

    .card__link {
        font-size: 1.3em;
        position: absolute;
        bottom: 45px;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    header {
        padding-bottom: 0;
    }

    .header-container {
        margin-bottom: 0;
    }

    main {
        margin-top: 0;
    }
}
